html,
body {
  width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.dropdown:hover .dropdown-menu {
  display: block;
}

#navcol-1 {
  padding-right: 123px;
}

.nav-item {
  padding-right: 25px;
}

.navbar.navbar-light.navbar-expand-md {
  z-index: 50;
}

#slide-1 {
  margin-top: 90px;
  max-width: 100%;
  min-height: 90vh;
}

#slide-2 {
  margin-top: 90px;
  max-width: 100%;
  min-height: 90vh;
}

#slide-3 {
  margin-top: 90px;
  max-width: 100%;
  min-height: 90vh;
}

.display-1 {
  padding-top: 100px;
}

.display-2 {
  padding-top: 20px;
}

.display-3 {
  padding-top: 100px;
}

#slide-1-logo {
  padding-top: 20px;
}

#slide-1-p {
  padding-top: 16px;
  padding-left: 10px;
}

#slide-1-p {
  font-size: 30px;
}

#slide-1-img {
  max-width: 80px;
}

#slide-1-imgcol {
  margin-top: 16px;
  max-width: 100px;
  margin-right: 20px;
  margin-left: 20px;
}

#slide-1-imgcol-1 {
  margin-top: 16px;
  max-width: 100px;
  margin-right: 20px;
  margin-left: 20px;
}

#sec-2 {
  max-width: 100%;
  min-height: 100vh;
}

#carousel-1 {
}

#sec-3 {
  max-width: 100%;
  min-height: 80vh;
}

#sec-4 {
  max-width: 100%;
  min-height: 70vh;
  background: rgba(241, 238, 238, 0.54);
}

#s1 {
}

#sec-5 {
  max-width: 100%;
  min-height: 100vh;
}

#v1 {
  text-align: center;
}

#v-2 {
  text-align: center;
}

.v-btn {
  position: absolute;
  max-width: 150px;
  border-radius: 38px;
  text-align: center;
}

#v2-btn {
}

.v-btn {
}

#sec-6 {
  max-width: 100%;
  min-height: 90vh;
  background: rgba(241, 238, 238, 0.54);
}

#sec-7 {
  max-width: 100%;
  min-height: 20vh;
  background: var(--blue);
}

#email-input {
  color: rgb(154, 153, 153);
  background-color: #393b3b;
  margin-bottom: 15px;
  max-width: 100%;
  margin: 0 0 14px;
  padding: 11px 17px;
  font-family: inherit;
  font-size: 20px;
  line-height: 21px;
  font-weight: 300;
  border: 1px solid transparent;
  border-radius: 5px;
  outline: 0;
  -webkit-appearance: none;
  box-sizing: border-box;
}

#sec-8 {
  max-width: 100%;
  min-height: 100vh;
}

#sec-2 img {
  margin-top: 100px;
  width: 600px;
}

#home h1 {
  font-size: 73px;
}

#sec-2 p {
  font-size: 18px;
  width: 440px;
}

@media (max-width: 990px) {
  #sec-4 .col {
    margin-right: 130px;
  }
}

@media (max-width: 990px) {
  #sec-3 .col {
    display: none;
  }
}

@media (max-width: 990px) {
  #sec-3 .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 990px) {
  #home h1 {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  #sec-4 .col {
    margin-right: 130px;
  }
}

@media (max-width: 600px) {
  #sec-3 .col {
    display: none;
  }
}

@media (max-width: 600px) {
  #sec-3 .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 600px) {
  #sec-2 img {
    margin-top: -77px;
    width: 440px;
  }
}

@media (max-width: 600px) {
  #home h1 {
    font-size: 60px;
  }
}

@media (max-width: 600px) {
  #slide-1-logo {
    width: 380px;
  }
}

@media (max-width: 600px) {
  #sec-2 p {
    font-size: 18px;
    width: 304px;
  }
}

@media (max-width: 400px) {
  #sec-4 .col {
    margin-right: 65px;
  }
}

@media (max-width: 400px) {
  #sec-3 .col {
    display: none;
  }
}

@media (max-width: 400px) {
  #sec-3 .col-8 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

@media (max-width: 400px) {
  #sec-2 img {
    margin-top: -77px;
    width: 440px;
  }
}

@media (max-width: 400px) {
  #home h1 {
    font-size: 45px;
  }
}

@media (max-width: 400px) {
  #slide-1-logo {
    width: 304px;
  }
}

img {
  max-width: 100%;
}

.con2 {
  padding: 93.5px 93.5px !important;
}
